.container{
    display: flex;
    align-items: center;
}


.search {

    height: 100%;
    padding: 9px 20px;
    border-radius: 8px 0px 0px 8px;
    width: 35vw;
}

.searchButton {
    border-radius: 0px 8px 8px 0px;
    height: 100%;
    padding: 6px 19px;
    border-left: none;
}